@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html, body {
	padding: 0;
	margin: 0;
}

* {
	font-family: "Montserrat";
}

body {
	padding: 8rem;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#profile-picture {
	align-self: center;
	width: 10rem;
	height: 10rem;
	margin-bottom: 1rem;
	border-radius: 1rem;
}

#identity {
	display: flex;
	flex-direction: column;
	text-align: center;
}

#identity > * {
	margin: 0.5rem 0;
}

#person-name {
	font-size: 1.5rem;
	font-weight: 600;
	color: #4E5150;
}

#person-location {
	font-size: 14px;
	font-weight: 600;
	color: #A9A9A9;
}

#stats-wrapper {
	display: flex;
	margin-top: 2rem;
}

.stats {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 4rem;
	padding: 1rem 2rem;

	font-weight: 600;
	background: #E5E5E5;
	border-radius: 0.75rem;
}

.stats:not(:first-child) {
	margin-left: 1rem;
}

.stats-title {
	color: #BDBDBD;
}

#gallery {
	display: grid;
	gap: 2rem;
	margin-top: 4rem;
}

#gallery img {
	width: 100%;
	height: 100%;
	filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
	border-radius: 0.75rem;
}

#photo2 {
	grid-column: 2 / span 2;
	grid-row: 1;
}

#photo3 {
	grid-column: 1 / span 2;
	grid-row: 2;
}

#photo4 {
	grid-column: 3;
	grid-row: 2 / span 2;
}

footer {
	width: calc(100% - 16rem);
	padding: 2rem 8rem 0 8rem;

	text-align: center;
}

footer * {
	color: #444;
}

@media only screen and (max-width: 1000px) {
	body {
		padding: 1rem;
	}

	.stats {
		padding: 0.5rem 1rem;
		font-size: 0.8rem;
	}

	#gallery {
		gap: 0.5rem;
	}

	footer {
		width: 100%;
		padding: 2rem 0;
		font-size: 0.8rem;
	}
}