html, body {
	padding: 0;
	margin: 0;
}

* {
	font-family: 'Inconsolata';
}

nav {
	position: absolute;
	left: 0;
	top: 0;
	padding: 2rem 8rem;
	font-variation-settings: 'wght' 900;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;
}

#not-found {
	height: 100%;
	width: auto;
}

#container {
	display: flex;
	flex-direction: row;

	width: 100%;
	height: 100vh;
}

#container article {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

#image {
	display: flex;
	align-items: center;

	height: 100%;
}

#image img {
	height: 32rem;
}

#text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#text h1 {
	margin: 0;

	font-size: 4rem;
	line-height: 4.8rem;
}

#text p {
	font-size: 1.6rem;
	line-height: 2rem;
}

#back-button {
	width: fit-content;
	padding: 1.5rem 2.5rem;

	border: 0;
	color: #eee;
	background: #222;
	text-transform: uppercase;
}

#back-button:hover {
	background: #333;
}

footer {
	width: calc(100% - 16rem);
	padding: 2rem 8rem;

	text-align: center;
}

footer * {
	color: #444;
}

@media only screen and (max-width: 800px) {
	nav {
		padding: 2rem;
	}

	body {
		justify-content: flex-start;
	}

	#container {
		flex-direction: column;
		height: max-content;
		margin-top: 4rem;
	}

	#image img {
		height: 320px;
		width: auto;
	}

	#text {
		padding: 0rem 2rem;
	}

	footer {
		width: calc(100% - 4rem);
		padding: 2rem 2rem;
	}
}